include _include/helperFunctions.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Events
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/fonts/ionicons.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
    link(rel="stylesheet" href="/css/stylesEvent.min.css")
  body(style='width:100%;background-color:rgb(174,174,174);/*background-image:url("/img/drawing.svg");*//*background-repeat:no-repeat;*//*background-size:cover;*/background:url(/img/drawing.svg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;')
    nav.navbar.navbar-light.navbar-expand-md.fixed-top(style="width:100%;background-color:#dedede;height:50px;")
      .container-fluid
        a.navbar-brand(href="#" style='background-image:url("/img/logo.svg");background-repeat:no-repeat;background-size:contain;background-position:center;width:150px;height:50px;')
        button.navbar-toggler(data-toggle="collapse" data-target="#navcol-1" style="background-color:#c6c6c6;")
          i.icon.ion-android-menu
        #navcol-1.collapse.navbar-collapse
          ul.nav.navbar-nav.float-right.ml-auto(style="background-color:#dedede;")
            if isUserLoggedIn
              li.nav-item(role="presentation")
                a.nav-link(href="/home" data-bs-hover-animate="pulse" style="color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;") Home
            li.nav-item(role="presentation")
              a.nav-link(href="/map" data-bs-hover-animate="pulse" style="color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;") Food
            li.nav-item(role="presentation")
              a.nav-link(href="/events/public" data-bs-hover-animate="pulse" style="color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;") Events
            li.nav-item(role="presentation")
              a.nav-link(href="/bus" data-bs-hover-animate="pulse" style="color:#000000;font-family:ABeeZee, sans-serif;margin-left:5px;") Bus
            if isUserUrednik
              li.nav-item(role="presentation")
                a.nav-link(href="/events/preview" data-bs-hover-animate="pulse" style="color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;") Event Manager
            if isUserLoggedIn
              li.nav-item(role='presentation')
                a.nav-link(href='/entry/settings', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;background-color:rgba(255,255,255,0);margin-left:5px;') Change password
              li.nav-item(role='presentation')
                a.nav-link.active(href='/entry/logout', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;margin-left:5px;') Log out
            else
              li.nav-item(role='presentation')
                a.nav-link.active(href='/entry', data-bs-hover-animate='pulse', style='color:#be0000;font-family:ABeeZee, sans-serif;margin-left:5px;') Log in
    section.d-flex.flex-column.justify-content-center.align-items-center.align-content-center(style="width:70%;margin-left:15%;background-color:#eeeeee;height:100vh;")
      div(style="width:100%;height:55px;background-color:rgba(181,181,181,0.52);")
      .d-flex.flex-row(style="width:98%;height:100%;margin-top:0;background-color:rgba(181,181,181,0.52);overflow-y:scroll;")
        div(style="width:33.3333%;height:100%;margin-right:5px;")
          +appendPublicEvents(content1)
        div(style="width:33.3333%;height:100%;margin-right:5px;margin-left:5px;")
          +appendPublicEvents(content2)
        div(style="width:33.3333%;height:100%;margin-left:5px;")
          +appendPublicEvents(content3)
    script(src="/js/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/js/script.min.js")
    script(src="/js/stanje.js")