mixin appendPublicEvents(content)
   - for (var i = 0; i < content.length; i++)
    - var hasPic = Math.random();
    - var d = new Date(content[i].date); var newH = d.getHours(); var newM = d.getMinutes();
    - if(d.getHours() < 10){newH = "0"+newH;}
    - if(d.getMinutes() < 10){newM = "0"+newM;}
    - var newDate = d.toDateString() + " | " + newH + ":" + newM;
    - if(hasPic<0.5)
     .card(style='margin:10px;')
       .card-body
         img(src='/img/upcomingevents.png', style='width:100%;height:100px;')
         h4.card-title(style='font-family:ABeeZee, sans-serif;margin-top:12px;') #{content[i].name}
         p.card-text(style='font-family:ABeeZee, sans-serif;font-size:13px;') #{newDate}
         p.card-text(style='font-family:ABeeZee, sans-serif;font-size:13px;') #{content[i].description}
    - else
     .card(style='margin:10px;')
       .card-body
         h4.card-title(style='font-family:ABeeZee, sans-serif;') #{content[i].name}
         p.card-text(style='font-family:ABeeZee, sans-serif;font-size:11px;') #{newDate}
         p.card-text(style='font-family:ABeeZee, sans-serif;font-size:13px;') #{content[i].description}

mixin appendEventsForUrednik(content)
    - for (var i = 0; i < content.length; i++)
     - var d = new Date(content[i].date); var newH = d.getHours(); var newM = d.getMinutes();
     - if(d.getHours() < 10){newH = "0"+newH;}
     - if(d.getMinutes() < 10){newM = "0"+newM;}
     - var newDate = d.toDateString() + " | " + newH + ":" + newM;
      .card(style="background-color:rgb(213,213,213);margin:15px;")
        .card-body.d-flex.flex-row.justify-content-around
          h4#eventName.card-title(style="font-family:ABeeZee, sans-serif;font-size:20px;margin-right:10px;") #{content[i].name}
          h6#eventOrganizer.text-muted.card-subtitle.mb-2(style="margin-top:5px;font-family:ABeeZee, sans-serif;font-size:14px;margin-right:10px;") #{content[i].organizer}
          h6#eventDateTime.text-muted.card-subtitle.mb-2(style="margin-top:5px;font-family:ABeeZee, sans-serif;font-size:14px;margin-right:10px;") #{newDate}
          p#eventDescription.card-text(style="font-family:ABeeZee, sans-serif;font-size:14px;margin-right:10px;") #{content[i].description}
          button#DELETDIS.btn.btn-secondary.float-right.align-self-end(data-id=content[i]["_id"], type="button" style="background-color:rgb(183,0,0);color:rgb(255,255,255);font-family:ABeeZee, sans-serif;margin-left:10px;", onclick='deleteItem(this)') Delete

mixin appendTODO(content)
   - for (var i = 0; i < content.length; i++)
    - var text = content[i].text;
    - var id = content[i]["_id"];
     .card(style='background-color:rgb(222,222,222);margin-top:5px;margin-right:5px;margin-bottom:10px;margin-left:5px;')
       .card-body.d-flex.flex-column
         textarea(data-id=id style='background-color:rgba(255,255,255,0);color:rgb(0,0,0);height:250px;font-size:14px;' onfocusout='updateMyTodo(this)') #{text}
         a.card-link.float-right.align-self-end(data-id=id style='color:rgb(186,0,0);font-size:12px;cursor:pointer;' onclick='deleteTodoNote(this)')
           strong Delete

mixin appendUrnik(content)
   - for (var i = 0; i < 24; i++)
    - var time = ""+i+":00"; if(i<10){time = "0"+i+":00";}
    tr
      td.time
        strong
          em #{time}
          br
          br
        td(data-col='0' data-row=i style="background-color:#e0e0e0;cursor:pointer;" onclick="urnikModify(this)")
        td(data-col='1' data-row=i style="cursor:pointer;" onclick="urnikModify(this)")
        td(data-col='2' data-row=i style="background-color:#e0e0e0;cursor:pointer;" onclick="urnikModify(this)")
        td(data-col='3' data-row=i style="cursor:pointer;" onclick="urnikModify(this)")
        td(data-col='4' data-row=i style="background-color:#e0e0e0;cursor:pointer;" onclick="urnikModify(this)")
        td(data-col='5' data-row=i style="cursor:pointer;" onclick="urnikModify(this)")
        td(data-col='6' data-row=i style="background-color:#e0e0e0;cursor:pointer;" onclick="urnikModify(this)")